// bower:scss
// endbower
@import "partials/prop";

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

a{
    text-decoration: none;
}

h2{
    font-size: $font-titulo;
    color: $color-naranja;
    margin: 0;
}

article{
    width: 742px;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
    h1 {
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
    }
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

 .wrap{
    position: relative;
    min-height: 100%;
}

.col{
    display: inline-block;
    vertical-align: top;
    padding: 20px 10px;

    &:before {
    content: '';
    bottom: 0;
    position: absolute;
    top: 0;
    z-index: -1;
    }
}

.sidebar, .sidebar:before {
    width: 20%;
}

.sidebar {
    color: #ebeef3;

    &:before{
        background: #333333;
        left: 0;
    }
}

.social-bar, .social-bar:before {
    width: 5%;
}

.social-bar {
    color: #ebeef3;

    &:before{
        left: 20%;
        background: #ff6100;
    }
}

.content, .content:before {
    width: 74%;
}

.content {
    color: #6d7072;

    &:before{
        background: #fff;
        left: 40%;
    }
}

.notes{
    padding-left: 28px;

    h2{
        margin: 25px 0 10px 0;
        font-family: $font;
        font-weight: $light;
        text-transform: uppercase;
    }
   
    span{
        margin: 0 20px 20px 0;
        color: $color-gris-oscuro;
        font-size: $font-medium;
        font-family: $font;
        font-weight: $regular;
    }

    img{
        margin-top: 20px;
    }

    h4{
        color: $color-gris-claro;
        font-size: $font-large;
        margin: 10px 0 10px 0;
        font-family: $font;
        font-weight: $regular;
    }

    p{
        color: $color-negro;
        font-size: $font-small;
        font-family: $font;
        font-weight: $regular;
        margin-bottom: 35px;
        line-height: 17px;
    }
}

.button{
    padding: 13px 70px;
    background-color: $color-gris-oscuro;

    font-family: $font;
    font-weight: $regular;
    font-size: $font-large;
    color: white;
}

.line{
    margin-top: 40px;
}

.subtitle{
    display: block;
}