// bower:scss
// endbower
@import "partials/prop";

*{
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;

    background: #fafafa;
    font-family: 'lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

a{
    text-decoration: none;
}

h2{
    font-size: $font-titulo;
    color: $color-naranja;
}

article{
    width: auto;
    margin-top: 50px; 
}

table{
    padding-top:10px;
    padding-bottom:20px;
    border-spacing: 0px;
}

h3{
font-size: $font-Xlarge;
color: #C9C9C9;
font-family: $font;
font-weight: $regular;
text-align: center;
margin: 3px;
}

figure{
    margin: 0px;
    img{
        width: 100%;
        padding-bottom: 25px;
    }
}

h6{
  font-size: 14px;
  color: #EA663B;
  text-transform: uppercase;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.wrap{
    position: relative;
    min-height: 100%;
}

.col{
    display: inline-block;
    vertical-align: top;
    padding: 0 0px;

    &:before {
    content: '';
    bottom: 0;
    position: absolute;
    top: 0;
    z-index: -1;
    }
}

.sidebar, .sidebar:before {
    width: 20%;
}

.sidebar {
    color: #ebeef3;

    &:before{
        background: #333333;
        left: 0;
    }
}

.social-bar, .social-bar:before {
    width: 5%;
}

.social-bar {
    color: #ebeef3;

    &:before{
        left: 20%;
        background: $color-naranja;
    }
}

.icons-bar{
    position: absolute;
    margin: 20px 0 0 -98px;
    height: auto;
    width: 4%;
    vertical-align: middle;
    color: $color-icon-social;

    .triangule{
        width: 0;
        height: 0;
        border-right: 20px solid #ffffff;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        margin-top: -35px;
        margin-left: 55px;
        margin-bottom: -15px;
    }

    .icon-heart{
        margin: 0 0 0 13px;
    }

    .mini-icons{
        margin: 20px 0 0 5px;
        padding: 10px 0 0 10px;
        border-top: 1px solid $color-icon-social;
    }

    .vertical-line{
        height: 50px;
        border-left: 1px solid $color-icon-social;
        margin: 10px 0 0 30px;
    }

    .icon-circle{
        margin: 15px 0 0 13px;

        color: $color-naranja;
        width: 30px;
        height: 29px;
        padding: 8px 0 0 8px;
        border-radius: 360px;
        background-color: $color-icon-social;
    }

    .icon-reply{
        margin-left: 15px;
        margin-top: 10px;
        color: $color-blanco;
    }

    .fa-twitter:before{
        margin-left: -2px;
    }

}

.content, .content:before {
    width: 74%;
}

.content {
    color: #6d7072;
    padding-right: 210px;

    &:before{
        background: #fff;
        left: 25%;
    }
}

.notes{
    padding-left: 28px;

    h2{
        margin: 10px 0 15px 0;
        font-family: $font;
        font-weight: $light;
        text-transform: uppercase;
    }
   
    img{
        margin-top: 20px;
    }

    h4{
        color: $color-gris-claro;
        font-size: $font-large;
        margin: 20px 0 15px 0;
        font-family: $font;
        font-weight: $regular;
    }

    p{
        color: $color-negro;
        font-size: $font-Xsmall;
        font-family: $font;
        font-weight: $regular;
        margin-bottom: 35px;
        line-height: 17px;
    }
}

.button{
    border: none;
    padding: 13px 70px;
    background-color: $color-gris-oscuro;
    margin-bottom: 20px;

    font-family: $font;
    font-weight: $regular;
    font-size: $font-large;
    color: white;
    &:hover{
        background-color: $color-gris;
        color: white;
    }
}

.subtitle{
    display: block;
 
    color: $color-gris-oscuro;
    font-size: $font-medium;
    font-family: $font;
    font-weight: $regular;
}

.container{
    border-top: 1px solid #C9C9C9;
}

/* CSS STYLE NOTA */

.content-articule{
    margin-left: -18px;
        
    li{
        color: $color-petroleo;
        font-weight: $bold;
        
    }
    li p{
        margin-left: -20px;
    }
    li ol table{
        margin-left: -60px;
    }

}

.table-top{
    background-color: $color-naranja;
    width: 180px;
    th{
    border-right: 2px solid white;
    color: $color-blanco;
    font-size: 12px;
    font-family: $font;
    font-weight: $regular;
    padding: 5px 30px 5px 20px;

    }
}
.table-content{
    background-color: #f1f1f1;
    color: $color-petroleo;
    font-size: 14px;
    font-family: $font;
    font-weight: $regular;

    td{
        border-top: 2px solid white;
        padding: 15px 10px 15px 20px;  
        span{
            color: $color-petroleo;
            font-size: 14px;
            font-family: $font;
            font-weight: $bold;
        }

    }
    td ul li{
        font-size: 12px;
        line-height: 20px;
    }
    
}

.table-col01{
    width: 170px;
}
.table-col02{
    width: 250px;
}
.table-col03{
    width: 200px;
}
.table-col04{
    width: 150px;
}

.comments{
   h4{
    color: $color-naranja;
    }
}

.avatar{
    line-height: 9px;
    margin-top: 10px;
    padding-top: 10px;

    h5{
        color: $color-petroleo;
        font-size: 19px;
        padding-top: 5px;
        margin-left: 90px;
    }
    span{
        color: $color-gris-claro;
        margin-left: 90px;
        font-size: 14px;
    }
    p{
        margin-left: 90px;
    }
}

.avatar:before {
    content: url(../images/avatar-usuario.png);
    position:absolute;
    padding-top: 20px;
}

.box-form{
    @include border-radius(5px);
    border: 1px solid $color-gris-claro;
    height: 50px;
    width: 550px;
    font-family: $font;
    font-weight: $regular;
    font-size: $font-medium;
    padding-left:15px;
    display: block;
    margin-bottom: 15px;
    

}

.box-com{
    height: 200px;
    width: 550px;
    padding-top: 15px;
}


/*CSS SIDEBAR*/


.head-img{
  border-radius: 360px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  display: block;
  margin: 25px auto;
}


#head h5{
  font-size: 18px;
  color: #EA663B;
  text-align: center;
  font-weight: lighter;
}

#line-widget{
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  #widget{
    margin-left: 20px;
    padding-right: 20px;
  }
}
#head-social{
    margin-left: 20px;
}
#head-social a{
    margin-left: 25px;
    display: inline-block;
}

#head-cont {
    padding-bottom: 15px;
    
    form input{
      border-radius: 3px;
      background-color: $color-gris-claro;
      font-size: 15px;
      height: 30px;
      width: 85%;
      margin-top: 15px;
      margin-left: 20px;
    } 
}

#head-cont a{
    text-decoration: none;
    color: #797979;
}

#head-articule h6, #head-articule a{
  margin-left: 20px;
  line-height: 1px;
    
}
#head-articule h6{
    margin-bottom: 13px;
}
#head-articule ul li a{
      &:hover{
        color: white;
    }
}

ul{
    padding-left: 0;
    line-height: 30px;
}


@media all and (max-width: 768px){

    .col{
        display: inline-block;
        width: 100%;
        figure, #head-cont {
            text-align: center;
            form{
                display: none;
            }
            }img{
            width: 55%;
            
        }
    }

    #head-social{
        margin-left: -35px;
        } a{
        width: 10%;
        height: 10%;
    }

    .col:before{
        content: none;
    }

    .social-bar, 
    #widget, #head-articule {
        display: none;
    }

    .sidebar{
         background: #333333;
    }
    
    .content {
        padding: 0 20px;
    }

    .notes img{
        width: 100%;
    }
    .box-com, .box-form{
        width: 100%;
    }
  
    
}


