$color-gris-claro: #C9C9C9;
$color-naranja: #EA663B;
$color-gris: #BDBCBC;
$color-gris-oscuro: #8E8E8E;
$color-petroleo: #21282E;
$color-blanco: #ffffff;
$color-negro: #000000;

$font: 'Lato', Helvetica, sans-serif;
$light: 300;
$regular: 400;
$bold: 700;

$font-Xsmall: 12px;
$font-small: 14px;
$font-medium: 16px;
$font-Xmedium: 18px;
$font-large: 24px;
$font-Xlarge: 32px;
$font-titulo: 42px;